* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/background.png);
    background-size: cover;
    font-family: "Indie Flower", sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 500px;
    color: #002B59;
    padding: 10px 30px;
}

.wrapper h1{
    text-align: center;
}

.wrapper p {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.wrapper .form-input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.form-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #002B59;
    outline: none;
    padding: 20px 55px 20px 20px;
    color: #002B59;
}

.form-input input::placeholder {
    font-family: "Indie Flower", sans-serif;
    font-size: 20px;
    color: #002B59;
}

.form-input i {
    position: absolute;
    font-size: 25px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .btn-add {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #fff;
    background: #002B59;
}

.wrapper .btn-reset {
    visibility: hidden;
}

.wrapper ul {
    font-size: 30px;
    list-style-type: none;
}