* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
html {
    height: 100vh;
    background-image: linear-gradient(#00802b, #00b33c)
}
  
.input-wrapper {
    padding: 10px;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7)
}
  
.input-wrapper > p {
    margin-bottom: 5px;
}
  
.task-input {
    display: inline-block;
    padding: 10px;
    width: 300px;
}
  
.add-btn {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #00b33c;
    color: white;
}
  
.add-btn:hover {
    cursor: pointer;
    background-color: #01872e;
}
  
.task-wrapper > ul > li{
    list-style: none;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
    margin-top: 12px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7)
}
  
.task-wrapper > ul > li:hover {
    opacity: 0.8;
}
